body
{
    text-align:justify;
    font-size: 1.1em;
    background: linear-gradient(315deg,rgb(115, 0, 191),black);
    font-family: Calibri;
}
.divin
{
    display: flex;
    align-items: center;
    justify-content:space-between; /* Espace entre les enfants */

}
h1
{
    font-size: 5em;
    color: rgb(0, 154, 168);
    text-decoration: underline;
}
iframe
{
    flex-shrink: 0; /* Empêche l'iframe de se réduire */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes */
}
.deux
{
    background: linear-gradient(315deg, rgb(4, 92, 107), black);
    display:block;
    color:red;
    width: 10em;
    padding:1em;
    height: 15em;
    margin:0;
    margin-left: 25%;
    margin-top: 10px;
    border:8px solid rgb(0, 154, 168);
}

.retourligne
{
    clear: left;
    color:red
}

.salut
{
    font-family: Impact;
    font-size: 2em;
}


.trois
{
    border:3px solid black
}
/* à trier dans l'ordre du parent*/
em
{
    font-size: 3em;
    color:#FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

strong
{
    color: rgb(253, 255, 207);
    font-size: 1em;
}
.quatre{color:orange}


/*button{
    border-radius: 52px;
    background-color: yellow;
    border-color: red;
    opacity: 0.5;
}*/

mark{background-color: rgb(0, 223, 30);}
#pomme{max-width: 400px; height: auto;}
td{ border:0.25em solid black;}
.coucou{font-size: 10em;font-family: Impact;color: red;}
p, ul{font-size: 1em; color: rgb(15, 130, 253);}
.ma{background-color: red; color:black}
.ph{background-color: blue; color:black}
.ns{background-color: yellow; color:black}

