h1{text-align: center;}
body{background:darkslateblue ; color:bisque}
button{border-color: black; background-color: crimson; color:orange}
.fonc{color:red;font-size:5em ; font-family: Impact;}
.val{color:bisque;font-size: "";}
.titre{font-family: 'Times New Roman', Times, serif;color : aqua}
.AAA{color:darkslateblue}
a{color:lawngreen}