h1{
	text-align: center;
}
p{
	text-align: center;
}

.monPara{
	width: 200px;
	height: 60px;
	margin: auto;
	border: 2px solid black;
}

#monPara1{
	width: 200px;
	height: 60px;
	margin: auto;
	border: 2px solid black;
}
#monPara2{
	width: 200px;
	height: 60px;
	margin: auto;
	border: 2px solid black;
}
#monPara3{
	width: 200px;
	height: 60px;
	margin: auto;
	border: 2px solid black;
}

#monPara4{

	background:white;
	cursor:pointer;
	border:solid 2px black;
}

.centre{
	text-align:center;
}
.ar1{background-color: yellow;}
.ar2{background-color: red;}
.ar3{background-color: blue;}

